
h1
{
    color:blueviolet; 
    font-size: 40px;
}
.body_backgorund {
    background-image: url("bg1.jpg");
    background-position: center;
    background-size: cover;
}

#canvas1{
    background-color: blanchedalmond;
    border-width: 5px;
    border-style:ridge;

}
